.floating-soclinks {
  position: fixed;
  top: 0;
  left: 1rem;
  width: auto;
  height: 100%;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.64rem;
}

.float-item {
  padding: 0.64rem;
  border-radius: 4px;
  /* background-color: var(--white); */
  background: rgba(255, 255, 255, 0.64);
  backdrop-filter: blur(10.8px);
  -webkit-backdrop-filter: blur(10.8px);
  border: 1px solid rgba(255, 255, 255, 0.49);
  box-shadow: 4px 12px 12px rgba(0, 0, 0, 0.1);
}
.float-item div {
  height: 24px !important;
  width: 24px !important;
  width: auto;
  background-repeat: no-repeat;
  background-size: contain;
}

.float-facebook {
  background: url("../assets/svg/facebook.svg");
}
.float-instagram {
  background: url("../assets/svg/instagram.svg");
}
.float-twitter {
  background: url("../assets/svg/twitter.svg");
}
.float-linkedin {
  background: url("../assets/svg/linkedin.svg");
}
.float-github {
  background: url("../assets/svg/github.svg");
}
